#divContactList {border: 1px solid #d3d3d3; padding: 10px; box-shadow: 1px 1px 15px #d3d3d3;}
#divContactList .btn {min-width : 85px;}
#divContactList .pgHeader {border-bottom: 1px solid #00695c;margin-bottom: 5px;color:#00695c;} 