#divEditContact .panel-success>.panel-heading {background-color: #007E33;color:#fff}
#divEditContact .form-control {border-radius: 0px;}
#divEditContact .panel {box-shadow: 1px 1px 15px #d3d3d3;border-radius: 0px;border-color: #d3d3d3;}
#divEditContact .backBtn {color:#fff;text-decoration: none;}