#divAddContact .form-control {border-radius: 0px;}
#divAddContact .panel {box-shadow: 1px 1px 15px #d3d3d3;border-radius: 0px;border-color: #d3d3d3;}
#divAddContact .backBtn {color:#fff;text-decoration: none;}
